In [2]:
import pandas as pd
import numpy as np

In [14]:
fund = pd.read_csv('data/fundamentals.csv')
prices = pd.read_csv('data/prices.csv')

In [16]:
def date_transfer(day):
    return day[0:10]
prices['date'] = prices.apply(lambda x: date_transfer(x['date']), axis=1)
prices.to_csv("prices_clean.csv", index = False)
fund.to_csv("fundamentals_clean.csv", index = False)

In [99]:
fund = pd.read_csv('data/fundamentals_clean.csv')
prices = pd.read_csv('data/prices_clean.csv')

In [100]:
display(fund.head())
print(fund.shape)

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07

(1781, 79)

In [101]:
display(prices.head())
print(prices.shape)

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

(851264, 7)

In [102]:
new_df = pd.merge(fund, prices,  how='left', left_on=['Ticker Symbol','Period Ending'], right_on = ['symbol','date'])
display(new_df.head(10))

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume
0,0,AAL,2012-12-31,3.068000e+09,-2.220000e+08,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,2012.0,-5.60,3.350000e+08,2012-12-31,AAL,12.850000,13.500000,12.840000,13.680000,7005600.0
1,1,AAL,2013-12-31,4.975000e+09,-9.300000e+07,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,2013.0,-11.25,1.630222e+08,2013-12-31,AAL,24.740000,25.250000,24.629999,25.250000,7166600.0
2,2,AAL,2014-12-31,4.668000e+09,-1.600000e+08,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,2014.0,4.02,7.169154e+08,2014-12-31,AAL,53.900002,53.630001,53.320000,54.639999,10626000.0
3,3,AAL,2015-12-31,5.102000e+09,3.520000e+08,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,2015.0,11.39,6.681299e+08,2015-12-31,AAL,42.540001,42.349998,41.830002,42.570000,6788900.0
4,4,AAP,2012-12-29,2.409453e+09,-8.948200e+07,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,2012.0,5.29,7.328355e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,AAP,2013-12-28,2.609239e+09,-3.242800e+07,2.698000e+06,26.0,-1.957570e+08,5.312930e+08,40.0,...,2013.0,5.36,7.308918e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,AAP,2015-01-03,3.616038e+09,-4.820900e+07,3.092000e+06,25.0,-2.284460e+08,5.629450e+08,3.0,...,2014.0,6.75,7.315926e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,AAP,2016-01-02,3.757085e+09,-2.147600e+07,-7.484000e+06,19.0,-2.347470e+08,6.033320e+08,2.0,...,2015.0,6.45,7.339504e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,AAPL,2013-09-28,3.622300e+10,-1.949000e+09,1.156000e+09,30.0,-8.165000e+09,0.000000e+00,93.0,...,2013.0,40.03,9.252311e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,AAPL,2014-09-27,4.864900e+10,-6.452000e+09,9.800000e+08,35.0,-9.571000e+09,0.000000e+00,40.0,...,2014.0,6.49,6.087827e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
new_df_na = new_df[new_df['date'].isnull()]
display(new_df_na.head())
print(new_df_na.shape)
new_df_ = new_df[new_df['date'].notnull()]

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume
4,4,AAP,2012-12-29,2.409453e+09,-8.948200e+07,6.000000e+05,32.0,-2.711820e+08,520215000.0,23.0,...,2012.0,5.29,7.328355e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,AAP,2013-12-28,2.609239e+09,-3.242800e+07,2.698000e+06,26.0,-1.957570e+08,531293000.0,40.0,...,2013.0,5.36,7.308918e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,AAP,2015-01-03,3.616038e+09,-4.820900e+07,3.092000e+06,25.0,-2.284460e+08,562945000.0,3.0,...,2014.0,6.75,7.315926e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,AAP,2016-01-02,3.757085e+09,-2.147600e+07,-7.484000e+06,19.0,-2.347470e+08,603332000.0,2.0,...,2015.0,6.45,7.339504e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,AAPL,2013-09-28,3.622300e+10,-1.949000e+09,1.156000e+09,30.0,-8.165000e+09,0.0,93.0,...,2013.0,40.03,9.252311e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(424, 86)

In [104]:
new_df_na['Period Ending'] = (pd.DatetimeIndex(new_df_na['Period Ending']) - pd.offsets.Day(1)).astype(str)
display(new_df_na.head(10))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume
4,4,AAP,2012-12-28,2.409453e+09,-8.948200e+07,6.000000e+05,32.0,-2.711820e+08,520215000.0,23.0,...,2012.0,5.29,7.328355e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,AAP,2013-12-27,2.609239e+09,-3.242800e+07,2.698000e+06,26.0,-1.957570e+08,531293000.0,40.0,...,2013.0,5.36,7.308918e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,AAP,2015-01-02,3.616038e+09,-4.820900e+07,3.092000e+06,25.0,-2.284460e+08,562945000.0,3.0,...,2014.0,6.75,7.315926e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,AAP,2016-01-01,3.757085e+09,-2.147600e+07,-7.484000e+06,19.0,-2.347470e+08,603332000.0,2.0,...,2015.0,6.45,7.339504e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,AAPL,2013-09-27,3.622300e+10,-1.949000e+09,1.156000e+09,30.0,-8.165000e+09,0.0,93.0,...,2013.0,40.03,9.252311e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,AAPL,2014-09-26,4.864900e+10,-6.452000e+09,9.800000e+08,35.0,-9.571000e+09,0.0,40.0,...,2014.0,6.49,6.087827e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,AAPL,2015-09-25,6.067100e+10,-3.124000e+09,1.285000e+09,45.0,-1.124700e+10,0.0,52.0,...,2015.0,9.28,5.753664e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,AAPL,2016-09-23,5.932100e+10,1.044000e+09,1.348000e+09,36.0,-1.273400e+10,0.0,85.0,...,2016.0,8.35,5.471497e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,ABBV,2012-12-30,5.734000e+09,2.230000e+08,-8.000000e+06,1507.0,-3.330000e+08,0.0,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,ADI,2013-11-01,3.230840e+08,1.237700e+07,8.935000e+07,14.0,-1.230740e+08,711879000.0,821.0,...,2013.0,2.19,3.075283e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
new_df_na = new_df_na.drop(['date', 'symbol', 'open', 'close', 'low', 'high', 'volume'], axis = 1)

In [106]:
new_df_na = pd.merge(new_df_na, prices,  how='left', left_on=['Ticker Symbol','Period Ending'], right_on = ['symbol','date'])
display(new_df_na.head(10))

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume
0,4,AAP,2012-12-28,2.409453e+09,-8.948200e+07,6.000000e+05,32.0,-2.711820e+08,520215000.0,23.0,...,2012.0,5.29,7.328355e+07,2012-12-28,AAP,70.919998,71.510002,70.790001,71.849998,422100.0
1,5,AAP,2013-12-27,2.609239e+09,-3.242800e+07,2.698000e+06,26.0,-1.957570e+08,531293000.0,40.0,...,2013.0,5.36,7.308918e+07,2013-12-27,AAP,110.300003,109.919998,109.629997,111.940002,364200.0
2,6,AAP,2015-01-02,3.616038e+09,-4.820900e+07,3.092000e+06,25.0,-2.284460e+08,562945000.0,3.0,...,2014.0,6.75,7.315926e+07,2015-01-02,AAP,160.850006,158.559998,157.470001,162.500000,509800.0
3,7,AAP,2016-01-01,3.757085e+09,-2.147600e+07,-7.484000e+06,19.0,-2.347470e+08,603332000.0,2.0,...,2015.0,6.45,7.339504e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,AAPL,2013-09-27,3.622300e+10,-1.949000e+09,1.156000e+09,30.0,-8.165000e+09,0.0,93.0,...,2013.0,40.03,9.252311e+08,2013-09-27,AAPL,483.779991,482.750008,480.720001,484.669998,57010100.0
5,9,AAPL,2014-09-26,4.864900e+10,-6.452000e+09,9.800000e+08,35.0,-9.571000e+09,0.0,40.0,...,2014.0,6.49,6.087827e+09,2014-09-26,AAPL,98.529999,100.750000,98.400002,100.750000,62370500.0
6,10,AAPL,2015-09-25,6.067100e+10,-3.124000e+09,1.285000e+09,45.0,-1.124700e+10,0.0,52.0,...,2015.0,9.28,5.753664e+09,2015-09-25,AAPL,116.440002,114.709999,114.019997,116.690002,56151900.0
7,11,AAPL,2016-09-23,5.932100e+10,1.044000e+09,1.348000e+09,36.0,-1.273400e+10,0.0,85.0,...,2016.0,8.35,5.471497e+09,2016-09-23,AAPL,114.419998,112.709999,111.550003,114.790001,52481200.0
8,12,ABBV,2012-12-30,5.734000e+09,2.230000e+08,-8.000000e+06,1507.0,-3.330000e+08,0.0,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,28,ADI,2013-11-01,3.230840e+08,1.237700e+07,8.935000e+07,14.0,-1.230740e+08,711879000.0,821.0,...,2013.0,2.19,3.075283e+08,2013-11-01,ADI,49.680000,49.680000,49.049999,49.750000,4688500.0

In [107]:
new_df_na2 = new_df_na[new_df_na['date'].isnull()]
display(new_df_na2.head())
print(new_df_na2.shape)
new_df_na_ = new_df_na[new_df_na['date'].notnull()]

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume
3,7,AAP,2016-01-01,3.757085e+09,-21476000.0,-7484000.0,19.0,-234747000.0,6.033320e+08,2.0,...,2015.0,6.45,7.339504e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,12,ABBV,2012-12-30,5.734000e+09,223000000.0,-8000000.0,1507.0,-333000000.0,0.000000e+00,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,43,ADSK,2016-01-30,5.221000e+08,-195500000.0,0.0,20.0,-72400000.0,0.000000e+00,141.0,...,2016.0,-1.46,2.263699e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,96,AMAT,2013-10-26,1.649000e+09,-404000000.0,13000000.0,4.0,-197000000.0,6.151000e+09,77.0,...,2013.0,0.21,1.219048e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,97,AMAT,2014-10-25,1.883000e+09,-21000000.0,23000000.0,14.0,-241000000.0,6.384000e+09,112.0,...,2014.0,0.88,1.218182e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(155, 86)

In [108]:
new_df_na2['Period Ending'] = (pd.DatetimeIndex(new_df_na2['Period Ending']) - pd.offsets.Day(1)).astype(str)
display(new_df_na2.head(10))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume
3,7,AAP,2015-12-31,3.757085e+09,-21476000.0,-7484000.0,19.0,-234747000.0,6.033320e+08,2.0,...,2015.0,6.45,7.339504e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,12,ABBV,2012-12-29,5.734000e+09,223000000.0,-8000000.0,1507.0,-333000000.0,0.000000e+00,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,43,ADSK,2016-01-29,5.221000e+08,-195500000.0,0.0,20.0,-72400000.0,0.000000e+00,141.0,...,2016.0,-1.46,2.263699e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,96,AMAT,2013-10-25,1.649000e+09,-404000000.0,13000000.0,4.0,-197000000.0,6.151000e+09,77.0,...,2013.0,0.21,1.219048e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,97,AMAT,2014-10-24,1.883000e+09,-21000000.0,23000000.0,14.0,-241000000.0,6.384000e+09,112.0,...,2014.0,0.88,1.218182e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,98,AMAT,2015-10-23,1.833000e+09,-61000000.0,8000000.0,18.0,-215000000.0,6.575000e+09,131.0,...,2015.0,1.13,1.218584e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,99,AMAT,2016-10-28,2.056000e+09,-542000000.0,16000000.0,24.0,-253000000.0,6.809000e+09,103.0,...,2016.0,1.56,1.103205e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,164,AVGO,2015-10-30,8.670000e+08,-187000000.0,26000000.0,29.0,-593000000.0,0.000000e+00,163.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,165,AVGO,2016-10-28,1.778000e+09,-491000000.0,-113000000.0,10.0,-723000000.0,0.000000e+00,101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,169,AVY,2015-12-31,1.363800e+09,-135900000.0,-68300000.0,28.0,-135800000.0,8.340000e+08,11.0,...,2015.0,3.01,9.112957e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
new_df_na2 = new_df_na2.drop(['date', 'symbol', 'open', 'close', 'low', 'high', 'volume'], axis = 1)
new_df_na2 = pd.merge(new_df_na2, prices,  how='left', left_on=['Ticker Symbol','Period Ending'], right_on = ['symbol','date'])
display(new_df_na2.head(10))

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume
0,7,AAP,2015-12-31,3.757085e+09,-21476000.0,-7484000.0,19.0,-234747000.0,6.033320e+08,2.0,...,2015.0,6.45,7.339504e+07,2015-12-31,AAP,151.259995,150.509995,150.449997,151.940002,758300.0
1,12,ABBV,2012-12-29,5.734000e+09,223000000.0,-8000000.0,1507.0,-333000000.0,0.000000e+00,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,43,ADSK,2016-01-29,5.221000e+08,-195500000.0,0.0,20.0,-72400000.0,0.000000e+00,141.0,...,2016.0,-1.46,2.263699e+08,2016-01-29,ADSK,45.720001,46.820000,45.340000,46.830002,2273700.0
3,96,AMAT,2013-10-25,1.649000e+09,-404000000.0,13000000.0,4.0,-197000000.0,6.151000e+09,77.0,...,2013.0,0.21,1.219048e+09,2013-10-25,AMAT,17.740000,17.700001,17.559999,17.770000,8395100.0
4,97,AMAT,2014-10-24,1.883000e+09,-21000000.0,23000000.0,14.0,-241000000.0,6.384000e+09,112.0,...,2014.0,0.88,1.218182e+09,2014-10-24,AMAT,20.990000,20.990000,20.900000,21.530001,19804200.0
5,98,AMAT,2015-10-23,1.833000e+09,-61000000.0,8000000.0,18.0,-215000000.0,6.575000e+09,131.0,...,2015.0,1.13,1.218584e+09,2015-10-23,AMAT,16.200001,16.440001,16.120001,16.510000,15106000.0
6,99,AMAT,2016-10-28,2.056000e+09,-542000000.0,16000000.0,24.0,-253000000.0,6.809000e+09,103.0,...,2016.0,1.56,1.103205e+09,2016-10-28,AMAT,28.959999,28.660000,28.570000,29.180000,11541600.0
7,164,AVGO,2015-10-30,8.670000e+08,-187000000.0,26000000.0,29.0,-593000000.0,0.000000e+00,163.0,...,NaN,NaN,NaN,2015-10-30,AVGO,120.849998,123.129997,120.169998,124.019997,2551600.0
8,165,AVGO,2016-10-28,1.778000e+09,-491000000.0,-113000000.0,10.0,-723000000.0,0.000000e+00,101.0,...,NaN,NaN,NaN,2016-10-28,AVGO,172.490005,169.350006,169.039993,172.869995,2065100.0
9,169,AVY,2015-12-31,1.363800e+09,-135900000.0,-68300000.0,28.0,-135800000.0,8.340000e+08,11.0,...,2015.0,3.01,9.112957e+07,2015-12-31,AVY,63.200001,62.660000,62.630001,63.669998,562900.0

In [126]:
df_fillna = pd.concat([new_df_, new_df_na_, new_df_na2])
df_fillna = df_fillna.sort_values(by="Unnamed: 0")
df_fillna = df_fillna.reset_index()
df_fillna.drop(['index'],axis=1,inplace=True)
display(df_fillna.head(10))
print(df_fillna.shape)

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume
0,0,AAL,2012-12-31,3.068000e+09,-2.220000e+08,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,2012.0,-5.60,3.350000e+08,2012-12-31,AAL,12.850000,13.500000,12.840000,13.680000,7005600.0
1,1,AAL,2013-12-31,4.975000e+09,-9.300000e+07,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,2013.0,-11.25,1.630222e+08,2013-12-31,AAL,24.740000,25.250000,24.629999,25.250000,7166600.0
2,2,AAL,2014-12-31,4.668000e+09,-1.600000e+08,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,2014.0,4.02,7.169154e+08,2014-12-31,AAL,53.900002,53.630001,53.320000,54.639999,10626000.0
3,3,AAL,2015-12-31,5.102000e+09,3.520000e+08,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,2015.0,11.39,6.681299e+08,2015-12-31,AAL,42.540001,42.349998,41.830002,42.570000,6788900.0
4,4,AAP,2012-12-28,2.409453e+09,-8.948200e+07,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,2012.0,5.29,7.328355e+07,2012-12-28,AAP,70.919998,71.510002,70.790001,71.849998,422100.0
5,5,AAP,2013-12-27,2.609239e+09,-3.242800e+07,2.698000e+06,26.0,-1.957570e+08,5.312930e+08,40.0,...,2013.0,5.36,7.308918e+07,2013-12-27,AAP,110.300003,109.919998,109.629997,111.940002,364200.0
6,6,AAP,2015-01-02,3.616038e+09,-4.820900e+07,3.092000e+06,25.0,-2.284460e+08,5.629450e+08,3.0,...,2014.0,6.75,7.315926e+07,2015-01-02,AAP,160.850006,158.559998,157.470001,162.500000,509800.0
7,7,AAP,2015-12-31,3.757085e+09,-2.147600e+07,-7.484000e+06,19.0,-2.347470e+08,6.033320e+08,2.0,...,2015.0,6.45,7.339504e+07,2015-12-31,AAP,151.259995,150.509995,150.449997,151.940002,758300.0
8,8,AAPL,2013-09-27,3.622300e+10,-1.949000e+09,1.156000e+09,30.0,-8.165000e+09,0.000000e+00,93.0,...,2013.0,40.03,9.252311e+08,2013-09-27,AAPL,483.779991,482.750008,480.720001,484.669998,57010100.0
9,9,AAPL,2014-09-26,4.864900e+10,-6.452000e+09,9.800000e+08,35.0,-9.571000e+09,0.000000e+00,40.0,...,2014.0,6.49,6.087827e+09,2014-09-26,AAPL,98.529999,100.750000,98.400002,100.750000,62370500.0

(1781, 86)

In [127]:
df_fillna[df_fillna['date'].isnull()]

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,date,symbol,open,close,low,high,volume
12,12,ABBV,2012-12-29,5.734000e+09,2.230000e+08,-8000000.0,1507.0,-3.330000e+08,0.000000e+00,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,294,CFG,2012-12-29,0.000000e+00,0.000000e+00,0.0,3.0,-1.780000e+08,1.858900e+10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,295,CFG,2013-12-29,0.000000e+00,0.000000e+00,0.0,18.0,-1.600000e+08,1.860300e+10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,296,CFG,2014-12-29,0.000000e+00,0.000000e+00,0.0,4.0,-1.410000e+08,1.867600e+10,NaN,...,2014.0,1.55,5.580645e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
378,378,COTY,2003-06-28,1.330000e+05,9.260000e+05,19000.0,2975.0,-7.400000e+04,1.672000e+06,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,379,COTY,2004-06-28,2.630000e+05,2.750000e+05,22000.0,79.0,-5.000000e+04,1.024700e+07,508.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,380,COTY,2006-02-26,1.307800e+07,1.351000e+06,3138000.0,552.0,-1.361000e+06,5.726200e+07,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381,381,COTY,2007-02-26,1.556900e+07,-2.979000e+06,-54669000.0,134.0,-8.960000e+05,7.482800e+07,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,394,CSRA,2015-04-01,6.806960e+08,7.996000e+06,-5608000.0,25.0,-7.018300e+07,0.000000e+00,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
516,516,EA,2013-03-29,8.730000e+08,5.600000e+07,39000000.0,4.0,-1.060000e+08,2.174000e+09,88.0,...,2013.0,0.32,3.062500e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620,620,FBHS,2012-12-29,2.870000e+08,-3.350000e+07,500000.0,5.0,-7.500000e+07,2.324800e+09,53.0,...,2012.0,0.74,1.604054e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
739,739,HAS,2015-12-25,9.000840e+08,-2.278080e+08,9104000.0,27.0,-1.420220e+08,8.936300e+08,92.0,...,2015.0,3.61,1.251629e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
748,748,HCA,2012-12-29,4.737000e+09,-1.260000e+08,-160000000.0,17.0,-1.862000e+09,1.753000e+09,11.0,...,2012.0,3.65,4.397260e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
788,788,HPE,2014-10-29,1.302600e+10,1.414000e+09,0.0,4.0,-3.620000e+09,0.000000e+00,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
837,837,ILMN,2016-01-01,5.260700e+08,-9.591300e+07,12422000.0,25.0,-1.428470e+08,2.497501e+09,227.0,...,2015.0,3.19,1.446893e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1035,1035,MCHP,2013-03-29,2.026590e+08,3.860000e+05,15156000.0,7.0,-5.081800e+07,1.255627e+09,462.0,...,2013.0,0.65,1.959831e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1039,1039,MCK,2013-03-29,1.964600e+10,3.180000e+08,-76000000.0,19.0,-2.410000e+08,6.078000e+09,11.0,...,2013.0,5.71,2.343257e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1095,1095,MPC,2012-12-29,8.072000e+09,8.510000e+08,223000000.0,29.0,-1.369000e+09,9.527000e+09,59.0,...,2012.0,9.95,3.406030e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1129,1129,NAVI,2013-12-29,0.000000e+00,-6.800000e+07,0.0,25.0,0.000000e+00,4.399000e+09,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1130,1130,NAVI,2014-12-29,0.000000e+00,-7.500000e+07,0.0,27.0,0.000000e+00,2.893000e+09,NaN,...,2014.0,2.74,4.193431e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1283,1283,PKI,2016-01-01,5.411720e+08,6.760000e+06,0.0,10.0,-2.963200e+07,5.293200e+07,42.0,...,2015.0,1.89,1.123942e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1312,1312,PSX,2012-12-29,1.246900e+10,-1.320000e+08,356000000.0,20.0,-1.701000e+09,1.872600e+10,28.0,...,2012.0,6.55,6.296183e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1328,1328,PYPL,2014-12-29,2.671000e+09,-3.700000e+07,-7000000.0,5.0,-4.920000e+08,0.000000e+00,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1335,1335,QRVO,2014-03-27,1.316070e+08,6.160000e+06,2515000.0,2.0,-6.675300e+07,0.000000e+00,111.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1478,1478,SYF,2012-12-29,1.286800e+10,-5.410000e+08,0.0,46.0,0.000000e+00,0.000000e+00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1479,1479,SYF,2013-12-29,1.204400e+10,-1.520000e+08,0.0,33.0,0.000000e+00,0.000000e+00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1480,1480,SYF,2014-12-29,3.469000e+09,6.800000e+07,0.0,20.0,0.000000e+00,9.408000e+09,NaN,...,2014.0,2.78,7.586331e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1538,1538,TRIP,2012-12-29,9.062900e+07,-3.200000e+07,-3000000.0,27.0,-2.900000e+07,5.312560e+08,249.0,...,2012.0,1.39,1.395683e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1570,1570,UA,2012-12-29,2.287660e+08,-5.343300e+07,-73000.0,16.0,-5.065000e+07,3.213380e+08,136.0,...,2012.0,1.23,1.046976e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1571,1571,UA,2013-12-29,2.991850e+08,-3.596000e+07,-1172000.0,15.0,-8.783000e+07,3.972480e+08,81.0,...,2013.0,1.54,1.054091e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1572,1572,UA,2014-12-29,3.581130e+08,-1.010570e+08,-6410000.0,15.0,-1.405280e+08,5.083500e+08,141.0,...,2014.0,0.98,2.122878e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1573,1573,UA,2015-12-29,3.933950e+08,-1.918760e+08,-7234000.0,14.0,-2.989280e+08,6.366300e+08,27.0,...,2015.0,1.08,2.153454e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1694,1694,WLTW,2012-12-29,1.900000e+07,-1.700000e+07,16000000.0,26.0,-1.350000e+08,1.125000e+09,NaN,...,2012.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1695,1695,WLTW,2013-12-29,2.100000e+07,-1.160000e+08,-38000000.0,16.0,-1.120000e+08,1.316000e+09,NaN,...,2013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1696,1696,WLTW,2014-12-29,3.300000e+07,-6.600000e+07,6000000.0,18.0,-1.130000e+08,1.524000e+09,NaN,...,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1697,1697,WLTW,2015-12-29,4.500000e+07,-1.550000e+08,55000000.0,17.0,-1.460000e+08,1.672000e+09,NaN,...,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1710,1710,WRK,2014-09-28,1.037200e+09,6.730000e+07,2400000.0,11.0,-5.342000e+08,2.839800e+09,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1757,1757,XYL,2012-12-29,7.750000e+08,2.000000e+06,0.0,14.0,-1.120000e+08,1.706000e+09,65.0,...,2012.0,1.60,1.856250e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN