In [11]:
import pandas as pd
import numpy as np

In [27]:
fund = pd.read_csv('data/fundamentals.csv')
prices = pd.read_csv('data/prices.csv')

In [28]:
def date_transfer(day):
    return day[0:10]
prices['date'] = prices.apply(lambda x: date_transfer(x['date']), axis=1)
prices.to_csv("prices_clean.csv", index = False)
fund.to_csv("fundamentals_clean.csv", index = False)

In [29]:
fund = pd.read_csv('data/fundamentals_clean.csv')
prices = pd.read_csv('data/prices_clean.csv')

In [30]:
display(fund.head())
print(fund.shape)

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07

(1781, 79)

In [31]:
display(prices.head())
print(prices.shape)

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

(851264, 7)

In [33]:
new_df = pd.merge(fund, prices,  how='left', left_on=['Ticker Symbol','Period Ending'], right_on = ['symbol','date'])

In [42]:
# new_df

new_df_na = new_df[new_df['date'].isnull()]
display(new_df_na.head())
print(new_df_na.shape)

In [44]:
new_df_na['Period Ending'] = new_df_na['Period Ending']

KeyError: 'Perios'

In [ ]:
factors_df = pd.DataFrame(S)